img{
  display: block;
  margin: auto;
  width: 100%;
}
title{
  font-style: italic;
  font-size: 100px;
  color: #b1a688;
  align-items: center;
}
header{
  list-style-type: none;
  background-color: inherit;
  text-align: center;
  height: 70px;
}
header ul li {
  display: inline-block;
  height: 100px;
}
header ul li a {
  text-decoration:  none;
  color:   #b1a688;
  text-align:  left;
  padding: 14px 16px;
  font-family: monospace;
}
h1{
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  color: #b1a688;
}
h2{
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
  font-size: 40px;
  color: #b1a688;
}
body{
  text-align: justify;
  font-style: italic;
  font-size: 40px;
  color: #b1a688;
  background-image: url(../background.jpg);
}
p{
  font-style: italic;
  font-size: 40px;
  color: #b1a688;
  text-align: center;
}
#images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#images ul li {
  list-style-type: none;
}
#images img{
  height: 250px;
  width: 33.333333%;
  margin: 10px;
}
